[Desktop Entry]
Name=JSIDPlay2
Name[de_DE]=JSIDPlay2
Path=/home/ken/Downloads/jsidplay2-4.1
Exec=/bin/bash -c 'export LD_LIBRARY_PATH=/home/ken/Downloads/jsidplay2-4.1 ; java -jar jsidplay2-4.1.jar'
Terminal=false
Type=Application
Icon=/home/ken/Downloads/jsidplay2-4.1/jsidplay2.png
Categories=
