[Desktop Entry]
Name=JSIDPlay2 (Java11)
Name[de_DE]=JSIDPlay2 (Java11)
Path=/home/ken/Downloads/${project.artifactId}-${project.version}-java11-linux
Exec=/bin/bash -c "export LD_LIBRARY_PATH=. ; java --module-path . --add-modules javafx.controls,javafx.web,javafx.fxml --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.rmi/sun.rmi.transport=ALL-UNNAMED --add-opens java.base/java.util.function=jcommander -jar ${project.artifactId}-${project.version}.jar"
Terminal=false
Type=Application
Icon=/home/ken/Downloads/${project.artifactId}-${project.version}-java11-linux/jsidplay2.png
Categories=
