[Desktop Entry]
Name=JSIDPlay2 (Java11)
Path=/home/ken/Downloads/jjsiddevice-4.1.jar
Exec=java -jar jsiddevice-4.1.jar
Terminal=false
Type=Application
Icon=/home/ken/Downloads/jsiddevice-4.1.jar/jsidplay2.png
Categories=
Name[de_DE]=JSIDDevice (Java11)
