[Desktop Entry]
Name=JSIDDevice
Name[de_DE]=JSIDDevice
Path=/home/ken/Downloads/jsiddevice-${project.version}
Exec=java -jar jsiddevice-${project.version}.jar
Terminal=false
Type=Application
Icon=/home/ken/Downloads/jsiddevice-${project.version}/jsiddevice.png
Categories=
