<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jsidplay2/src/main/java/ui/tools/FingerPrintingCreator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ui.tools.FingerPriui.tools.FingerPrintingCreatore.jdt.launching.PROGRAM_ARGUMENTS" value="--hvsc /media/nas2/Ken/C64/C64Music --previousDirectory /media/nas2/Ken/C64/C64Music.wav --whatsSIDDatabaseDriver com.mysql.cj.jdbc.Driver --whatsSIDDatabaseUrl &quot;jdbc:mysql://127.0.0.1:3306/hvsc74?createDatabaseIfNotExist=true&amp;useUnicode=yes&amp;characterEncoding=UTF-8&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;autoReconnect=true&quot; --whatsSIDDatabaseUsername newuser --whatsSIDDatabasePassword password --whatsSIDDatabaseDialect org.hibernate.dialect.MySQL55Dialect /media/nas2/Ken/C64/C64Music"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jsidplay2"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
