.knobstyle {
    -fx-skin: "ui.common.KnobSkin";
}

.slider .knob {
    -fx-background-radius: 100;
    -fx-background-color: transparent;
    -fx-background-image: url("../icons/volume.png"), url("../icons/balance.png");
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-background-position: center center;
    -fx-padding: 50;
}
.slider .knobDot {
    -fx-background-color: blue;
    -fx-background-radius: 100;
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-padding: 2;
    -fx-background-color: transparent;
}   
.slider .knobOverlay {
    -fx-background-radius: 100; 
    -fx-background-insets: 0; 
    -fx-background-image: url("../icons/volume-highlights.png");
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-background-position: center center;
    -fx-background-color: 
    linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(0,0,0,0.5))
}
