<?xml version="1.0" encoding="UTF-8"?>
<!-- JNLP File for JSIDPlay2 -->
<jnlp spec="1.0+" codebase="http://jsidplay2.sourceforge.net/">
   <information>
      <title>JSIDPlay2</title>
      <vendor>Ken Händel</vendor>
      <homepage href=""/>
      <description kind="one-line">Java SIDPlay2 - Music Player &amp; C64 SID Chip Emulator</description>
      <icon kind="splash" href="jsidplay2.jpg" width="320" height="200"/>
      <offline-allowed/>
      <shortcut online="true">
         <desktop/>
         <menu submenu="JSIDPlay2"/>
      </shortcut>
   </information>
   <security>
     <all-permissions/>
   </security>
   <update check="background" policy="prompt-update"/>
   <resources>
	<j2se version="1.6+" max-heap-size="512m" href="http://java.sun.com/products/autodl/j2se"/>

   </resources>
   <resources os="Windows" arch="x86_64 x86">
   </resources>
   <resources os="Linux" arch="i386 ia64 x84_64">
   </resources>
   <resources os="Mac OS">
   </resources>
   <x-desc />
</jnlp>