<HTML>
<HEAD>
	<META name="author" content="Ken Händel"/>
	<LINK REL="SHORTCUT ICON" HREF="http://jsidplay2.sourceforge.net/jsidplay2.png" /> 
	<TITLE />
</HEAD>
<BODY bgcolor="#ffffff" text="#000000" link="#0000ff" alink="#ff0000" vlink="#400040">
	<APPLET>
      <PARAM name="jnlp_href" value="jsidplay2applet.jnlp"/>
		 Please <A HREF="http://java.com/de/download/index.jsp">download Java(tm)</A>.
	</APPLET>
</BODY>
</HTML>
