<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jump3r/src/mp3/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mp3.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--abr 320 ${workspace_loc}/jump3r/test/testcase.wav ${workspace_loc}/jump3r/test/testcase_abr.mp3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jump3r"/>
</launchConfiguration>
