#mainVolume {
    -fx-skin: "ui.common.KnobSkin";
}
#secondVolume {
    -fx-skin: "ui.common.KnobSkin";
}
#thirdVolume {
    -fx-skin: "ui.common.KnobSkin";
}
.slider:focused .knob {
    -fx-effect: dropshadow( three-pass-box , blue , 5 , 0.5 , 0 , 0 );
}

.slider .knob {
    -fx-background-radius: 100;
    -fx-background-color: transparent;
    -fx-background-image: url("../icons/volume.png");
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
    -fx-background-position: center center;
    -fx-padding: 85;
}
.slider .knobDot {
    -fx-background-color: blue;
    -fx-background-radius: 100;
    -fx-padding: 2;
    -fx-background-color: transparent;
}   
.slider .knobOverlay {
    -fx-background-radius: 500; 
    -fx-background-insets: 0; 
    -fx-background-image: url("../icons/volume-highlights.png");
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
    -fx-background-position: center center;
    -fx-background-color: 
    linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(0,0,0,0.5))
}

.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}
 
.default-color0.chart-line-symbol {
    -fx-background-color: rgba(0,255,0,0);
}

.chart-plot-background {
    -fx-background-color: #e2ecfe;
} 	