.button {
	-fx-effect: null;
}
.toggle-button:selected {
	-fx-graphic: url("icons/playback_start.png");
}

.toggle-button {
	-fx-graphic: url("icons/playback_pause.png");
}

.slider.knobStyle {
    -fx-skin: "ui.common.KnobSkin";
}
.slider.knobStyle .knob {
    -fx-background-radius: 100;
    -fx-background-color: transparent;
    -fx-background-image: url("icons/balance.png");
    -fx-background-position: center center;
    -fx-padding: 40.5;
}
.slider.knobStyle:focused .knob {
    -fx-effect: dropshadow( three-pass-box , red , 5 , 0.5 , 0 , 0 );
    -fx-border-color: rgba(255,0,0,0.6);
    -fx-border-radius: 500; 
}
.slider.knobStyle .knobDot {
    -fx-background-radius: 100;
    -fx-padding: 2;
    -fx-background-color: transparent;
}

#tapeName {
	-fx-font-family:Courier;
	-fx-font-size:12.0px;
}

#diskName {
	-fx-font-family:Courier;
	-fx-font-size:12.0px;
}

#cartridgeName {
	-fx-font-family:Courier;
	-fx-font-size:12.0px;
}

.fileNotFoundRow
{
	-fx-background-color:red;
}
.currentlyPlayedRow
{
	-fx-background-color: lightgreen;
	-fx-text-fill: black;
}

.errorConsole {
	-fx-text-fill: red;
}

.outputConsole {
	-fx-text-fill: black;
}

#status {
	-fx-font-size: 14;
}


.cellValueOk {
	-fx-background-color:white;
}

.cellValueError {
	-fx-background-color:red;
}
