.button {
	-fx-effect: null;
}
#pauseContinue2:selected {
	-fx-graphic: url("icons/playback_start.png");
}

#pauseContinue2 {
	-fx-graphic: url("icons/playback_pause.png");
}

.slider.knobStyle {
    -fx-skin: "ui.common.KnobSkin";
}
.slider.knobStyle .knob {
    -fx-background-radius: 100;
    -fx-background-color: transparent;
    -fx-background-image: url("icons/volume.png"), url("icons/balance.png");
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-background-position: center center;
    -fx-padding: 50;
}
.slider.knobStyle .knobDot {
    -fx-background-radius: 100;
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-padding: 2;
    -fx-background-color: transparent;
}

.slider.knobStyle .knobOverlay {
    -fx-background-radius: 100; 
    -fx-background-insets: 0; 
    -fx-background-image: url("icons/volume-highlights.png");
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-background-position: center center;
    -fx-background-color: 
    linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(0,0,0,0.5))
}

#tapeName {
	-fx-font-family:Courier;
	-fx-font-size:12.0px;
}

#diskName {
	-fx-font-family:Courier;
	-fx-font-size:12.0px;
}

#cartridgeName {
	-fx-font-family:Courier;
	-fx-font-size:12.0px;
}

.currentlyPlayedRow
{
	-fx-background-color: lightgreen;
	-fx-text-fill: black;
}

.errorConsole {
	-fx-text-fill: red;
	-fx-font-family: monospace;
}

.outputConsole {
	-fx-text-fill: black;
	-fx-font-family: monospace;
}

#status {
	-fx-font-size: 14;
}


.cellValueOk {
	-fx-background-color:white;
}

.cellValueError {
	-fx-background-color:red;
}

#background {
	-fx-background: #000000;	
}
