<!-- http://www.swixml.org - Swing UI XML based -->
<!-- Configuration -->
<panel layout="BorderLayout" bundle="applet.config.ConfigTexts">
	<panel layout="BorderLayout">
		<panel constraints="BorderLayout.NORTH">
			<hbox>
				<button text="IMPORT" action="doImport" icon="applet/icons/load.png" />
				<button text="EXPORT" action="doExport" icon="applet/icons/save.png" />
			</hbox>
		</panel>
		<scrollpane constraints="BorderLayout.CENTER" border="TitledBorder(CONFIGURATION)">
			<tree initclass="applet.config.ConfigModel"
				ExpandsSelectedPaths="true" ScrollsOnExpand="true" id="configTree" />
		</scrollpane>
		<vbox constraints="BorderLayout.SOUTH" border="TitledBorder(EDITOR)">
			<panel id="parent" />
			<panel layout="BorderLayout" border="TitledBorder(DESCRIPTION)">
				<textarea Editable="false" LineWrap="true" WrapStyleWord="true"
					id="description" />
			</panel>
		</vbox>
	</panel>
</panel>