<!-- http://www.swixml.org - Swing UI XML based -->
<!-- Configuration -->
<panel layout="BorderLayout" bundle="applet.config.ConfigTexts">
	<scrollpane constraints="BorderLayout.NORTH">
		<tree initclass="applet.config.ConfigModel" ExpandsSelectedPaths="true"
			ScrollsOnExpand="true" id="configTree" />
	</scrollpane>
	<panel constraints="BorderLayout.CENTER" layout="BorderLayout" id="parent" />
</panel>